<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.AttendRepository">

  <insert id="setAttend">
    insert into attend_school(pno,aname,condition,attendDate)
	values(#{attendVO.pno} , #{attendVO.aname} , #{attendVO.condition} , to_date(${attendDate},'yyyyMMdd'))
  </insert>
  <!-- 쿼리문을 고민함 to_date를 뭘로 쓸지.. -->
  
  <select id="getAttendList" resultType="AttendVO">
  	select * from attend_school
  </select>
  <select id="getAttendOne" resultType="AttendVO">
  	select * from attend_school where pno = #{pno}
  </select>

  <select id="gerOneCheck" resultType="java.lang.Long">
  	select * from attend_school where attendDate = to_date(${attendDate},'yyyyMMdd') and pno = #{pno}
  </select>
</mapper>